* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
    background-color: lightgray;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol";
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

header {
    font-size: 2em;
    color: white;
}

.sidebar {
    display: grid;
    background-color: purple;
    font-size: 1.5em;
    color: white;
    grid-row: span 4;
}

.navbar {
    display: grid;
    grid-column: span 2;
}

.article {
    display: grid;
    grid-row: 3 / 4;
    grid-column: 2;
}

.announcements {
    display: grid;
    grid-column: 3;
}
