* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
    background-color: lightgray;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol";
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    grid-template-columns: 0.5fr 1fr 1fr;
}

header {
    font-size: 2em;
    color: white;
}

.sidebar,
.navbar,
.announcements {
    padding: 25px;
}

/* hacky way to get space between items */
.gap {
    display: grid;
    height: 50px;
}

.sidebar ul div {
    display: grid;
    padding: 5px;
    grid-template-columns: 30% 30%;
    font-size: 1.2em;
}
.sidebar embed {
    width: 30px;
}

.sidebar p {
    font-size: 2.5em;
}

.sidebar.settings {
    font-size: 20px;
    gap: 20px;
    padding: 0;
    padding-top: 50px;
}
.sidebar {
    border-left-color: black;
    display: grid;
    background-color: purple;
    font-size: 20px;
    color: white;
    grid-template-rows: 200px;
    grid-row: span 3;
}

.container li,
a {
    list-style: none;
    text-decoration: none;
}
.navbar {
    display: grid;
    grid-column: span 2/4;
    gap: 10px;
    min-height: 200px;
    max-height: 300px;
    background-color: white;
    box-shadow: 1px 3px #888888;
}

#bell embed {
    display: grid;
}

#icon embed {
    display: grid;
    width: 70%;
    height: auto;
}
/* input,bell, name/home */
.navrow1 {
    display: grid;
    grid-template-columns: 10% 20% 30% 30%;
    grid-row: 1;
}
.navrow1 a {
    display: grid;
    font-size: 1.5em;
    font-weight: bold;
    color: black;
}
.navbar input {
    display: grid;
    grid-row: 1;
    width: 50em;
    height: 2em;
    border-radius: 20px;
    padding: 1em;
}
.navrow2 {
    display: grid;
}

.buttons {
    display: grid;
}

.navbar button {
    display: grid;
    grid-row: 2;
    background-color: purple;
    width: 100px;
    height: 40px;
    place-content: center;
    border-radius: 12px;
    color: white;
    font-weight: bold;
}

.navbar a,
.navbar img {
    display: grid;
    grid-row: 1;
    grid-column: 4;
}

.main {
    display: grid;
    grid-column: span 2;
    grid-row: span 1;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 0.5fr;
    padding-top: 50px;
}

.article {
    display: grid;
    grid-column: span 1;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr;
    padding-top: 100px;
    padding-left: 50px;
    gap: 1.5em;
}

.card h4 {
    font-size: 1.5em;
}
.card {
    display: grid;
    padding: 15px;
    min-width: 10em;
    background-color: white;
    border-radius: 10px;
    border-left: 0.5em solid orange;
    box-shadow: 1px 3px 10px #888888;
}
.card p {
    display: grid;
    padding-bottom: 3em;
}

/*card SVG css */
.svg {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    place-content: end;
}

.navbar embed,
.card embed {
    display: grid;
    width: 1.5em;
    height: 1.5em;
}

.right h1 {
    padding-top: 100px;
}

.right {
    display: grid;
    padding-left: 50px;
    padding-right: 50px;
    grid-column: span 1;
}

.right ul {
    display: grid;
    padding: 10px;
    font-size: 1.3em;
}

.announcements strong {
    border-bottom: 1px solid black;
    padding: 2px;
}

.right h1 {
    padding-bottom: 0.5em;
}

.right p {
    font-size: 15px;
}

/* last li in announcement made bold */

.announcements #bold {
    font-weight: bold;
}

/* really hacky way to give a line between paragraphs */
.trending.announcements,
.trending.announcements strong {
    font-weight: normal;
    border: none;
}
.announcements,
.trending {
    display: grid;
    grid-column: 1;
    min-height: fit-content;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 3px 10px #888888;
}
